.block {
  display: flex;
  justify-content: space-between;
  background-color: b;
  background-color: blue;
}

/** verta dėmesio informacija paryškinama */
/*! Dėmesio - tai svarbi informacija paryškinama */
/*? Norime užduoti klausima kažkokia tema */
/*todo - ateityje reikės užsiimti.  */
/* - ateityje reikės užsiimti.  */